@model AskApp.Website.Models.ExternalLoginConfirmationViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Register";
}
<div class="login-box">
    <div class="login-logo">
        <a href="/eAsk">e<b>ASK</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">
            <h3>Associate your @ViewBag.LoginProvider account.</h3>
        </p>
        <p classs="text-info">
            You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
            Please enter a user name for this site below and click the Register button to finish
            logging in.
        </p>
        @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <input type="text" class="form-control" value="@Model.Email" placeholder="E-mail" name="email">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" value="@Model.FirstName" placeholder="First name" name="FirstName">
                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" value="@Model.LastName" placeholder="Last name" name="LastName">
                    @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    <span class="glyphicon glyphicon-home form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4 col-xs-offset-4">
                        <button type="submit" class="col btn btn-primary btn-block btn-flat">Register</button>
                    </div>
                </div>
        }
    </div>
    <!-- /.login-box-body -->
</div>
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

