@using AskApp.Website.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Log in";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/eAsk"><b>eASK</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <p>  </p>
        <p>  </p>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="E-mail" name="email">
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="password">
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox">
                        <label for="RememberMe">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            Remember me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                </div>
                <!-- /.col -->
            </div>
        }
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </div>
        </div>
        @Html.ActionLink("I forgot my password", "ForgotPassword")
        <br>
        @Html.ActionLink("Register a new account", "Register")
    </div>
    <!-- /.login-box-body -->
</div>

